@import url(../../../stylesheets/rtl.css);

#header > h1 {
	background: url(../images/logo.png) no-repeat right 20%;
	font-size:24px;
}

div#content {
	margin-right:auto;
    margin-left: 300px;
    width: auto;
}

body, #wrapper {
    font-family: "Sakkal Majalla", "B Nazanin", "Lucida Grande",verdana,arial,helvetica,sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: "Sakkal Majalla", "B Titr", "Lucida Grande",verdana,arial,helvetica,sans-serif;
}

div.issue div.subject h3 {
    font-size: 1.5em;
    margin: -18px 0 0.1em;
}

#main-menu {
    right: 0;
}
.journal-link {
    float: right;
}

table.progress {
    margin: 1px 6px;
}

div.issue table img.gravatar {
    float: right;
    height: 16px;
    margin: 0 0 0 0.5em;
    padding: 1px;
    width: 16px;
}

div.issue img.gravatar {
    float: right;
    margin: 0 0 0 6px;
    padding: 2px;
}

h4 img.gravatar {
    margin: -8px 0 -8px 4px;
}

img.gravatar {
    padding:1px;
}

td.username img.gravatar {
    margin: 0 0 0 0.5em;
    vertical-align: top;
}

.tabular label {
	width:90px;
	
}

input#issue_subject {
    width: 77%;
}

input#time_entry_comments {
    width: 80%;
}

#attachments_fields input.description {
    margin-right: 8px;
}

p.other-formats {
    text-align: left;
}

.jstEditor textarea, .jstEditor iframe {
    font-family: "Sakkal Majalla", "B Nazanin";
    font-size: 18px;
}

.ui-widget {
    font-family: sakkal majalla;
    font-size: 16px;
}

.ui-dialog .ui-dialog-title {
    color: #444444;
    float: right;
    font-size: 20px;
    margin: 0 0 10px;
    padding: 2px 10px 1px 10px;
}

div.modal p.buttons {
    margin-bottom: 0;
    text-align: left;
}


#admin-menu a.selected {
    background-position: right 40%;
    padding-right: 25px !important;
}


/* Message Board */
.MessageBoard {
	direction: rtl;
	text-align: center;

	background-color: white;
	color: black;
	border: 3px solid black;

	font-family: "B Nazanin";
	font-size: 14px;
	font-weight: bold;
}

.Tasliat {
	background-color: black;
	color: red;
	border: 3px solid red;
}

.Tabrik {
	background-color: green;
	color: white;
	font-weight: bold;
	border: 3px solid black;
}



/* Text */

.editable {
	direction: rtl;
}

.contextual {
	float: left;
}

#content h2 {
	direction: rtl;
}

/* Farsi L10N */
tr.issue td.subject {
	direction: rtl !important;
	text-align: right !important;
}

table.list.issues {
	direction: rtl !important;
}

.en{
	direction: ltr;
}

.fa{
	direction: rtl;
}

/*textarea#content_text.wiki-edit{
	direction: ltr;
}*/

.status, .priority, .assigned-to, .fixed-version, .category {
	font-family: "B Nazanin";
	font-size: 14px;
}

.wiki {
	direction: rtl;
	font-family: 'B Nazanin';
	font-size: 14px;
}

#main-menu ul {
    margin-top: 3px;
    padding-right: 15px;
}

#main-menu ul li {
	font-family: 'B Nazanin';
	font-size: 14px;
}

.news p .author {
	font-size:10px;
}

.news p .summary {
	font-size:12px;
}

.news p {
	font-size: 14px;
	direction:rtl;
}

body {
	font-family: Tahoma,sans-serif;
}

.timelog_custom {
	width: 7%;
	white-space: pre-line;
}

.syntaxhighlighter {
	direction: ltr;
}

input#issue_subject{
	direction: rtl;
	text-align: left;
}

textarea#issue_description, textarea#notes{
	direction: rtl;
}

tr.issue.idnt td.subject a {
    background: url("../../../images/bullet_arrow_left.png") no-repeat scroll right center transparent;
    padding-right: 16px;
    padding-left: 0;
}


