@import url(../../../stylesheets/rtl.css);

/*
based on 1.1.2
*/

#header > h1 {
	background: url(../images/logo-2x.png) no-repeat right center;
	padding: 15px 75px;
	font-size:24px;
}

h1, h2, h3, h4 {
    font-family: "Sakkal Majalla", "B Titr", "Lucida Grande",verdana,arial,helvetica,sans-serif;
}

body, #wrapper {
    font-family: "Sakkal Majalla", "B Nazanin", "Lucida Grande",verdana,arial,helvetica,sans-serif;
    font-size: 16px;
}

#top-menu { background: #000; padding: 5px 20px 0px 10px;font-size: 0.9em;}

div#content {
	margin-right:auto;
    width: auto;
    margin-left: 300px;
}


.wiki.wiki-page > h1 {
    border-bottom: 3px double #CCCCCC;
    padding-bottom: 6px;
}

.wiki table img {
	width: 100%;
}  

h2, .wiki h1 { padding: 7px 2px 1px 0; }
h3, .wiki h2 { padding: 10px 2px 1px 0; }

div.issue div.subject h3 {
    font-size: 1.5em;
    margin: -18px 0 0.1em;
}

#main-menu {
    right: 0;
}

table.progress {
    margin: 1px 6px;
}

div.issue table img.gravatar {
    float: right;
    height: 16px;
    margin: 0 0 0 0.5em;
    padding: 1px;
    width: 16px;
}

div.issue img.gravatar {
    float: right;
    margin: 0 0 0 6px;
    padding: 2px;
}

h4 img.gravatar {
    margin: -8px 0 -8px 4px;
}

img.gravatar {
    padding:1px;
}

td.username img.gravatar {
    margin: 0 0 0 0.5em;
    vertical-align: top;
}

.tabular label {
	width:90px;
	
}

input#issue_subject {
    width: 77%;
}

input#time_entry_comments {
    width: 80%;
}

#attachments_fields input.description {
    margin-right: 8px;
}

p.other-formats {
    text-align: left;
}

.jstEditor textarea, .jstEditor iframe {
    font-family: "Sakkal Majalla", "B Nazanin";
    font-size: 18px;
}

.ui-widget {
    font-family: sakkal majalla;
    font-size: 16px;
}

.ui-dialog .ui-dialog-title {
    color: #444444;
    float: right;
    font-size: 20px;
    margin: 0 0 10px;
    padding: 2px 10px 1px 10px;
}

div.modal p.buttons {
    margin-bottom: 0;
    text-align: left;
}


#admin-menu a.selected {
    background-position: right 40%;
    padding-right: 25px !important;
}


ul.progressive-project-menu li {
    float: right !important;
    margin-right: 10px;
}

fieldset#notified_events .parent {
    padding-left: 0;
    padding-right: 20px;
}

.revision-graph {
	left:300px;
}

div#main.nosidebar div#content {
    margin-left: 0;
    margin-right: auto;
}

#content .tabs ul {
	width:99%;
}

select#project_quick_jump_box {
    margin-right: 5px;
    margin-left: auto;
}

div.wiki ul.toc {
    margin-left: 0;
    margin-right: 12px;
    float:left;
}

div.wiki ul.toc li {
    font-size: 16px;
}

div.wiki ul.toc li li {
    font-size: 14px;
}

div.wiki ul.toc a {
    color: #606060;
    font-size: inherit;
}


.hidden-for-sighted {
	left: auto;
    right: -10000px;
}



table.issues td.description {
    text-align: right;
}


/* from pre css*/

tr.entry td.size {
    text-align: left;
}

tr span.expander {
    background-position: center center;
    padding-left: 8px;
    padding-right: 8px;
}

/*
.icon {
    background-position: 0% 40%;
    padding-left: 20px;
    padding-right: 0;
}
*/
/* Text */

.editable {
	direction: rtl;
}

.contextual {
	float: left;
}

#content h2 {
	direction: rtl;
}

/* Farsi L10N */
tr.issue td.subject {
	direction: rtl !important;
	text-align: right !important;
}

table.list.issues {
	direction: rtl !important;
}

.en{
	direction: ltr;
}

.fa{
	direction: rtl;
}

#main-menu ul {
    margin-top: 3px;
    padding-right: 15px;
}

.news p .author {
	font-size:10px;
}

.news p .summary {
	font-size:12px;
}

.news p {
	font-size: 14px;
	direction:rtl;
}

.timelog_custom {
	width: 7%;
	white-space: pre-line;
}

.syntaxhighlighter {
	direction: ltr;
}

input#issue_subject{
	direction: rtl;
	text-align: right;
}

input#user_login{
	direction: ltr;
	text-align: left;
}

.jstElements {
    clear: both;
}

textarea#issue_description, textarea#notes{
	direction: rtl;
}

tr.issue.idnt td.subject a {
    background: url("../../../images/bullet_arrow_left.png") no-repeat scroll right center transparent;
    padding-right: 16px;
    padding-left: 0;
}

select#project_quick_jump_box {
    border-radius: 12px;
    margin-left: 5px;
}

table.list tbody tr.group td {
	text-align:right;
}

/* Gantt  */

div.gantt_subjects div.project-name,
div.gantt_subjects div.version-name,
div.gantt_subjects div.issue-subject { left:  5px !important;}

div#gantt_area { direction:ltr; overflow-y:hidden !important;}

/* else */
#toggle-journal-details-div {float:left !important;}

/* attachments */
div.attachments > p {clear:right;}
div.attachments > p > a.icon,
div.attachments > p > span.size {float:right;padding-left:5px;}

#fancybox-title-float-right {background-position:-40px -90px !important;}
#fancybox-title-float-left  {background-position:-55px -90px !important;}

div.attachments div.images {display:inline-flex !important;}

div.attachments > p:last-of-type:after {
    content: "";
    height: 0.1px;
    float: right;
    width: 100%;
    display: block;
}

